{% capture content %}
  {% assign contributor_slug = meta.contributor | replace: ' ', '-' | downcase %}
  {% assign contributor = site.pages.contributors.pages[contributor_slug] %}

  {% if meta.cover_image %}
  <div class="article-cover">
    <div>
      <img src="{{ meta.cover_image }}" class="image">
    </div>
  </div>
  {% endif %}
  <article>
    <div class="container">
      <header>
        <div class="meta">
          By <address><a rel="author" href="{{ contributor.meta.link }}" title="{{ contributor.title }}" target="_blank">{{ contributor.title }}</a> &mdash;
          <time pubdate datetime="{{ date | date: "%Y-%d-%B" }}" title="{{ date | date: "%B %d, %Y" }}">{{ date | date: "%B %d, %Y" }}</time>
        </div>
        <h1 class="title">{{ title }}</h1>
        {% if meta.subtitle %}<h2 class="subtitle">{{ meta.subtitle }}</h2>{% endif %}
      </header>

      <section>
        {{ body }}
        {% include 'includes/social' %}
      </section>

      <footer>
        <address>
          {% if contributor.meta.avatar %}<img src="{{ contributor.meta.avatar }}">{% endif %}
          <p>Written by <strong><a rel="author" href="https://twitter.com/{{ contributor.meta.twitter }}" title="{{ contributor.meta.title }}" target="_blank">{{ contributor.title }}</a></strong><br>
          <span class="muted">{{ contributor.body_raw }}</span>
          </p>
        </address>
      </footer>

      {% if site.meta.disqus %}
      <section>
        {% include 'includes/disqus' %}
      </section>
      {% endif %}
    </div>
  </article>
{% endcapture %}

{% include 'layouts/default' %}
